 
<!-- FOOTER -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h5>ABOUT THE CHURCH</h5>
        {{site.data.home[0].Intro_Text | markdownify }}
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>QUICK LINKS</h5>
        <ul class="footer-links">
          <li><a href="{{site.url}}calendar-list.html">Upcoming events</a></li>
          <li><a href="{{site.url}}the-gospel.html">The Gospel</a></li>
          <li><a href="{{site.url}}sermons.html">Recent Sermons</a></li>
          <li><a href="{{site.url}}contact.html">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>OUR ADDRESS</h5>
        <p> {{site.data.info[0].Church_Name}}<br>
          {{site.data.location[0].Street_Address}} <br>
          {{site.data.location[0].City}}, {{site.data.location[0].State}} {{site.data.location[0].Zip}}<br>
          <br>
          Phone: {{site.data.contact[0].Phone}}<br>
          Email: <a href="mailto:{{site.data.contact[0].Church_email}}">{{site.data.contact[0].Church_email}}</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h5>CONNECT</h5>
        <div class="social-icons"><a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/fb-icon.png" alt="social"></a> <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/tw-icon.png" alt="social"></a> <a href="#"><img src="http://sitesforchurch.s3.amazonaws.com/in-icon.png" alt="social"></a></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="text-center">Copyright © 2014 All rights reserved</p>
    </div>
  </div>
</footer>
<!-- // END FOOTER --> 

<!-- // END --> 

<!-- Bootstrap core JavaScript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="{{site.url}}assets/js/jquery.js"></script> 
<script src="{{site.url}}assets/js/bootstrap.min.js"></script> 
<script src="{{site.url}}assets/js/owl.carousel.min.js"></script> 
<script src="{{site.url}}assets/js/ketchup.all.js"></script> 
<script src="{{site.url}}assets/js/fancybox.js"></script> 
<script src="{{site.url}}assets/js/script.js"></script> 

</body>
</html>
