<body class="home">
<!--[if lt IE 7]>
	<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->
<div class="body"> 
	<!-- Start Site Header -->
	<header class="site-header sticky-header">
    	<div class="container for-navi">
        	<div class="site-logo">
          {% if  site.data.info[0].Church_Logo_Dark %}    
          <h1 class="logo"> <a href="{{site.url}}/"><img src="{{site.data.info[0].Church_Logo_Dark[0].url}}" alt="Logo" width="277px" height="49px"></a> </h1>
          {% else %}
            <h1>
                <a href="index.html">
                    <span class="logo-icon"><i class="fa fa-heart"></i></span>
                    <span class="logo-text">{{site.data.info[0].Church_Name}}</span>
                    <span class="logo-tagline"></span>
                </a>
            </h1>
          {% endif %}
            </div>
            <!-- Main Navigation -->
            <nav class="main-navigation" role="navigation">
                <ul class="sf-menu">
                    <li><a href="{{site.url}}welcome.html">Welcome</a></li>
                    <li><a href="javascript:void(0)">About us</a>
                  		<ul class="dropdown">
                    		<li><a href="{{site.url}}our-leadership.html">Our Leadership</a></li>
                        <li><a href="{{site.url}}our-beliefs.html">Our Beliefs</a></li>
                        {% for item in site.data.abouts %}
                        <li><a href="{{ item.title | datapage_url: 'about-us' | prepend: site.baseurl | prepend: site.url }}">{{item.title}}</a></li>
                        {% endfor %}
                        <li><a href="{{site.url}}the-gospel.html">The Gospel</a></li>
                   		</ul>
                    </li><!--/end about us-->
                    <li><a href="javascript:void(0)">Ministries</a>
                  		<ul class="dropdown">
                    		{% for item in site.data.ministries %}
                        {% unless item.Exclude_from_menus %}
                         <li><a href="{{ item.name | datapage_url: 'ministries' | prepend: site.baseurl | prepend: site.url }}">{{item.name}}</a></li>
                        {% endunless %}
                        {% endfor %}
                   		</ul>
                    </li><!--/end ministries-->
                    <li><a href="{{site.url}}calendar-list.html">Calendar</a></li>
                    <li><a href="javascript:void(0)">Media</a>
                    	<ul class="dropdown">
                            <li><a href="{{site.url}}blog-list.html">Blog</a></li>
                    <li><a href="{{site.url}}sermons.html">Sermons</a></li>
                    <li><a href="{{site.url}}gallery.html">Gallery</a></li>
                       	</ul>
                   	</li><!--/end media-->
                	<li><a href="{{site.url}}contact.html">Contact Us</a></li>
                </ul><!--/end main menu ul-->
            </nav>       
            <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
    	</div>
	</header>
	<!-- End Site Header -->